@model IEnumerable<ResumeCheckSystem.Models.SkillCategory>

<h2>How to create a resume?</h2>
<p>Click on skills you have and set the level of knowledges</p>

<div>
    <form asp-action="CreateResumeForm" method="post">
       @Html.Partial("_CreateResVacForm")        
       <button class="btn btn-width btn-submit" type="submit">Submit</button>
    </form>
</div>

<script src="~/js/toggleDropdown.js"></script>