@model IEnumerable<ResumeCheckSystem.Models.Resume>

@if (ViewBag.Display != "0")
{
    <h2>@ViewBag.FullName</h2>

    @Html.Partial("_DisplaySkillsTable")
}
<div class="text-center">   
    @if (ViewBag.Display == "0")
    {
        <a asp-action="CreateResume" class="btn btn-delete btn-width">Create Resume</a>
    }
    else
    {
        <a asp-action="EditResume" class="btn btn-edit btn-width">Edit</a>
        <a asp-action="DeleteResume" class="btn btn-delete btn-width">Delete</a>
    }
</div>


