<div>
    <form asp-action="CreateVacancyForm" method="post">
        <div class="form-group">
            <label for="Title">Title</label><br>
            <input class="form-control input-width" name="Title" type="text">
        </div>

        <div class="form-group">
            <label for="Description">Description</label><br>
            <input class="form-control input-width" name="Description" type="text"><br>
        </div>

        @Html.Partial("_CreateResVacForm")

        <button class="btn btn-width btn-submit" type="submit">Submit</button>
    </form>
</div>

<script src="~/js/toggleDropdown.js"></script>