<div class="text-center">
    <h2>Candidates for your vacancy we can recommend</h2>
</div>

<form asp-controller="Invitation" asp-action="ProcessInvitation" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Resume</th>
                <th>Resume Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.nameAndSkills != null && ViewBag.Scores != null && ViewBag.UserNames != null)
            {
                for (int i = 0; i < ViewBag.UserNames.Count; i++)
                {
                    var score = ViewBag.Scores[i];
                    var userName = ViewBag.UserNames[i];
                    var nameSkill = ViewBag.nameAndSkills[userName];
                    var additionalSkills = "";
                    if (ViewBag.AdditionalSkills != null)
                    {
                        additionalSkills = ViewBag.AdditionalSkills[i];
                    }

                    <tr>
                        <td>
                            <h2>@userName</h2>
                            
                        </td>
                        <td>
                            <ul>
                                @foreach (var skill in nameSkill)
                                {                                    
                                    var parts = skill.Split(new[] { "::" }, StringSplitOptions.None);
                                    var mainText = parts[0];
                                    var smallText = parts.Length > 1 ? parts[1] : string.Empty;
                                    <li>@mainText <span class="transparent-text">@smallText</span></li>
                                }
                            </ul>
                            @if (additionalSkills != "")
                            {
                                <p>Additional Skills:</p>
                                <p>@additionalSkills</p>
                            }                           
                        </td>

                        <td>@score %</td>

                        <td>
                            <button class="btn btn-width btn-submit" name="userName" value="@userName">Invite</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>