@model IEnumerable<ResumeCheckSystem.Models.Vacancy>

@if (ViewBag.Display != "0")
{   <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Description</p>
    @Html.Partial("_DisplaySkillsTable")
}

<div class="text-center">
    @if (ViewBag.Display == "0")
    {
        <a asp-action="CreateVacancy" class="btn btn-delete btn-width">Create Vacancy</a>
    }
    else
    {
        <a asp-action="EditVacancy" class="btn btn-edit btn-width">Edit</a>
        <a asp-action="DeleteVacancy" class="btn btn-delete btn-width">Delete</a><br><br>
        <a asp-action="FindEmployee" class="btn btn-unique btn-width">Find Employee</a>
    }
</div>