@model IEnumerable<ResumeCheckSystem.Models.Vacancy>

<style>
    .btn-edit {
        background: linear-gradient(to right, #A1B8F2, #8DCEA3);
    }

    .btn-delete {
        background: linear-gradient(to right, #F25D5D, #F2A55D);
    }
</style>

@if (ViewBag.Display != "0")
{   <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Description</p>
    <table class="table">
        <tr>
            <th>Skill</th>
            <th>Level</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserSkill.Skill.SkillName</td>
                <td>@item.UserSkill.SkillLevel</td>
            </tr>
        }
    </table>
}

<div class="text-center">
    @if (ViewBag.Display == "0")
    {
        <a asp-action="CreateVacancy" class="btn btn-delete btn-width">Create Vacancy</a>
    }
    else
    {
        <a asp-action="EditVacancy" class="btn btn-edit btn-width">Edit</a>
        <a asp-action="DeleteVacancy" class="btn btn-delete btn-width">Delete</a><br><br>
        <a asp-action="FindEmployee" class="btn btn-unique btn-width">Find Employee</a>
    }
</div>